<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Account Activation</title>
  </head>
  <body
    style="
      background-color: #f9f9f9;
      font-family: Arial, sans-serif;
      color: #333333;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <div style="text-align: center">
        <img
          src="https://res.cloudinary.com/djaq2ftj5/image/upload/fl_preserve_transparency/v1746250755/Logo_rev3dn.jpg?_s=public-apps"
          alt="Logo"
          style="width: 80px; margin-bottom: 20px"
        />
        <h1 style="color: #4460EE;; font-size: 24px">
          Activate Your Maglo Account
        </h1>
      </div>
      <p style="font-size: 16px">Dear <strong>${fullName}</strong>,</p>
      <p style="font-size: 16px">
        Thank you for signing up to Maglo. To activate your account, please use
        the verification code below:
      </p>

      <div
        style="
          text-align: center;
          background-color: #f0f0f0;
          padding: 20px;
          margin: 20px auto;
          width: 70%;
          border-radius: 8px;
        "
      >
        <span
          style="
            font-size: 24px;
            letter-spacing: 10px;
            color: #4460EE;
            font-weight: bold;
          "
        >
        ${activationCode}
        </span>
      </div>

      <p style="text-align: center">
        <a
          href="http://localhost:5173/verify"
          style="
            background-color: #4460EE;
            color: #ffffff;
            padding: 12px 20px;
            border-radius: 6px;
            text-decoration: none;
            font-size: 16px;
          "
        >
          Verify Your Account
        </a>
      </p>

      <p style="font-size: 14px; color: #888888; margin-top: 30px">
        If you didn’t request this, please ignore this email.
      </p>

      <hr style="border: none; border-top: 1px solid #eeeeee; margin: 30px 0" />
      <footer style="text-align: center; font-size: 14px; color: #aaaaaa">
        &copy; 2025 Maglo . All rights reserved.
      </footer>
    </div>
  </body>
</html>
